body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  width: 100vw;
  color: white;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: rgb(34,193,195);
background: linear-gradient(to right bottom, #0b0143, #07023f, #04023a, #030235, #020230, #01022b, #010327, #000322, #00031d, #000317, #000311, #000207);
}
.auth-form {
  width: 500px;
  padding: 25px;
  max-width: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
  box-shadow: 0px 0px 10px black;
}
.auth-form label {
  display: block;
  margin-bottom: 25px;
}
.auth-form input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  background: linear-gradient(90deg, #d9e7ff 0%, #e3ffe7 100%);
}
.auth-form button {
  padding: 15px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #3603ff, #a41ee9);
}
.auth-form button:hover {
  box-shadow: 0px 0px 3px blue;
}
.auth-form button:disabled {
  color: darkgray;
  cursor: not-allowed;
  background-color: gray;
}
.auth-link-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.auth-link {
  color: #9ebd13;
  cursor: pointer;
  font-weight: bold;
}
.auth-link:hover {
  color: #008552;
}
.error {
  color: #9ebd13 ;
  font-weight: bold;
}
.chat-container {
  flex: 1;
  height: 100%;
  display: flex;
}
.left-rail {
  height: 100%;
  width: 300px;
}
.chat-list-container {
  overflow-y: auto;
  height: calc(100% - 150px);
}
.no-chats-yet {
  padding: 15px;
}
.chat-list {
  display: flex;
  flex-direction: column;
}
.chat-list-item {
  display: flex;
  height: 75px;
  width: 100%;
  padding: 10px;

  align-items: center;
  box-shadow: 0px 0px 2px black;
  justify-content: space-between;
}
.chat-list-item-content {
  flex: 1;
  display: flex;
  cursor: pointer;
  color: #f2f2f2;
  align-items: center;
  justify-content: flex-start;
}
.chat-list-item .selected,
.chat-list-item:hover {
  background-color: #18181d;
}
.chat-list-avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.selected-chat-item {
  background-color: #18181d;
}
.chat-item-delete {
  width: 35px;
  cursor: pointer;
  text-align: right;
  visibility: hidden;
}
.chat-list-item:hover .chat-item-delete {
  visibility: visible;
}
.chat-item-delete:hover {
  color: #cd0000;
}
.chat-list-preview {
  margin-left: 10px;
}
.create-chat-button {
	position: absolute;
	top: 90%;
	left: 10%;
	transform: translate(-50%,-50%) perspective(500px);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	text-shadow: 6px 3px 2px rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #a41ee9);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}
create-chat-button:hover
{
	transform: translate(-50%,-50%) perspective(500px);
	text-shadow: -6px 3px 2px rgba(0,0,0,.2);
}
create-chat-button:before
{
	content: '';
	position: relative;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #fff, transparent);
	transition: .5s;
}
create-chat-button:hover:before
{
	left: 100%;
}
.preview-message {
  font-size: 12px;
}
.empty-avatar {
  width: 28px;
  height: 28px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #121226;
}
.left-rail-header .empty-avatar {
  width: 50px;
  height: 50px;
}
.chats-loading  {
  
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
	animation: animate 0.5s linear infinite;

}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}


.left-rail-header {
  height: 100px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  background-color: #000108;
  box-shadow: 0px 0px 2px black;
}
.current-user-info {
  display: flex;
  align-items: center;
}
.current-username {
  margin-left: 15px;
  font-size: 28px;
}
.user-avatar {
  cursor: pointer;
}
.user-loading {
  
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
	animation: animate 0.5s linear infinite;

}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
.user-loading span
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.user-loading span:nth-child(1)
{
	filter: blur(5px);
}
.user-loading span:nth-child(2)
{
	filter: blur(10px);
}
.user-loading span:nth-child(3)
{
	filter: blur(25px);
}
.user-loading span:nth-child(4)
{
	filter: blur(50px);
}
.user-loading:after
{
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #240229;
	border-radius: 50%;
}
.current-chat {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #04050f;
}
.no-chat-selected {
  display: absolute;
  font-size: 28px;
  padding: 25px;
  color:  #14ffe9;
  align-self: center;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color:  linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  box-shadow: 0px 0px 3px black;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.point-left {
  width: 75px;
  height: auto;
  margin-right: 25px;
}
.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-toolbar {
  display: flex;
  min-height: 50px;
  color: #c70610;
  padding-left: 50%;
  padding-right: 50px;
  align-items: center;
  background-color: #04050f;
  justify-content: space-between;
}
.chat-header-text {
  color: #a294a6;
  font-size: 16px;
  font-weight: bold;
}
.add-user-icon {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-bottom: 5px;
}

.no-messages-yet {
  font-size: 24px;
  margin-top: 25px;
}
.chat-messages {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  height: calc(100% - 105px);
}
.chat-message {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
}
.message-image {
  width: 250px;
}
.message-avatar {
  width: 35px;
  height: 35px;
  display: flex;
  font-size: 24px;
  margin-right: 15px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: #121226;
}
.chat-message-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.message-author {
  font-size: 24px;
}
.message-content {
  padding-left: 25px;
}
.message-text {
  font-size: 14px;
  margin-bottom: 10px;
}
.chat-controls {
  width: 100%;
  margin: 25px;
  margin-top: 15px;
  height: 45px;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  width: calc(100% - 50px);
  background-color: #23252c;
  box-shadow: 0px 0px 3px black;
}
.attachment-icon {
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  margin-right: 5px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
  background-color: #121226;
}
.attachment-icon:hover {
  background-color: #2f313a;
}
.chat-input {
  flex: 1;
  border: none;
  height: 100%;
  outline: none;
  color: #f2f2f2;
  caret-color: white;
  background-color: transparent;
}
.send-message-icon {
  width: 35px;
  height: 100%;
  display: flex;
  cursor: pointer;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.send-message-icon:hover {
  background-color: #1f2026;
}
.user-search .input {
  width: 100%;
}
.user-search .input .prompt,
.user-search .input .prompt:focus {
  border: none;
  outline: none;
  color: #f2f2f2;
  caret-color: white;
  background-color: #1f2026;
  border-radius: 0px !important;
}
.user-search .input i {
  color: white !important;
}
.image-upload-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: space-between;
}
.image-upload-actions {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.image-upload-actions button {
  border: none;
  padding: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}
.image-upload-actions .cancel {
  background-color: #cd0000;
}
.image-upload-actions .submit {
  background-color: #030a24;
}
.file-input {
  display: none;
}
.modal .content {
  background: #15202b !important;
}
.modal .actions,
.modal .header {
  color: #f2f2f2 !important;
  background-color: #060f18 !important;
}
.sign-out {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
